.articles {
	width: 400px;
	height: 400px;
	margin: 10px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: rgb(233, 190, 89);
	margin: 15px 0px 15px 0px
}

.articleHeader {
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.bookmarkIcon {
	cursor: pointer;
	padding: 0px 5px;
}

.bookmarkIcon:hover {
	opacity: 0.6;
}

.hiddenArticlesIcon {
	cursor: pointer;
}

.hiddenArticlesIcon:hover {
	opacity: 0.6;
}